{
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "include": [
    "src/**/*.js"
  ],
  "require": [
    "esm",
    "./script/require-all"
  ],
  "check-coverage": false,
  "cache": true
}